body 
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
	background-color: #fff

a:link
	text-decoration: none

a:visited
	color: #00d1b2


.blog-title
	color: #333 !important

	&:hover
		color: hsl(14, 100%, 53%) !important

.background-image
	background-image: url("../../images/paralax.jpg")
	height: 100%
	width: 50%
	position: absolute
	background-position: -25vw 
	background-repeat: no-repeat
	background-size: cover
	background-attachment: fixed

.site-nav
	z-index: 1

.page-content
	padding: 0
	position: relative
	top: 0

.main-title
	font-weight: bold !important

	a 
		color: white !important

	@media screen and (min-width: 1370px)
		font-size: 4rem !important

.columns.is-fullheight 
	margin-bottom: 0

.column 
	padding-bottom: 0

.footer 
	padding-bottom: 3rem

	i 
		color: #333

.more 
	margin-bottom: 20px

.right-side
	padding: 0
	background-color: white

.left-side
	&::before
		content: ""
		position: absolute
		width: 50%
		height: 100vh
		background-color: #f46b45
		background: linear-gradient(to right, rgba(238,9,121, 0.3), rgba(255,106,0, 0.3))

.left-side .hero-body 
	background-color: transparent

.left-side .hero-body .title 
	color: #fff
	font-weight: lighter


.container 
	padding: 40px 30px


.right-side .hero-body .container .column 
	padding: 40px 30px


.blog-timestamp 
	font-weight: bold


.blog-title 
	font-size: 30px
	font-weight: bold


.blog-summary 
	font-size: 18px
	font-weight: lighter
	line-height: 1.5

// SINGLE POST STYLES
.post-img
	background-image: url("../../images/post.jpg")
	background-repeat: no-repeat
	background-size: cover
	background-position: center
	position: relative

	&::before
		content: ""
		display: block
		position: absolute
		width: 100%
		height: 100%
		background-color: #f46b45
		background: linear-gradient(to right, rgba(238,9,121, 0.3), rgba(255,106,0, 0.3))

.post
	position: relative
	z-index: 3

.post-title 
	font-weight: lighter

.post-content
	p
		font-size: 1.2rem
		margin-bottom: 2rem

.site-nav
	background-color: rgba(255, 255, 255, 0.7)
	border: none 
	border-radius: 0px

.show-more-posts
	position: relative
	top: 40px