body 
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
	background-color: #fff

.background-image
	background-image: url("../../images/paralax.jpeg")
	height: 100%
	width: 50%
	position: absolute
	background-position: -25vw 
	background-repeat: no-repeat
	background-size: cover
	background-attachment: fixed

.page-content
	padding: 0
	position: relative
	top: 0

.columns.is-fullheight 
	margin-bottom: 0

.footer 
	margin-top: -10px

.right-side
	padding: 0
	background-color: white

.left-side
	&::before
		content: ""
		position: absolute
		width: 50%
		height: 100vh
		background-color: rgba(0, 0, 0, 0.2)

.left-side .hero-body 
	background-color: transparent

.left-side .hero-body .title 
	color: #fff
	font-weight: lighter


.right-side .hero-body .container 
	padding: 40px 30px


.right-side .hero-body .container .column 
	padding: 40px 30px


.right-side .hero-body .blog-timestamp 
	font-weight: bold


.right-side .hero-body .blog-title 
	font-size: 30px
	font-weight: bold


.right-side .hero-body .blog-summary 
	font-size: 18px
	font-weight: lighter
	line-height: 1.5
