<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main class="page-content" aria-label="Content">
      <div class="columns is-fullheight">
        <div class="column right-side is-12">
          <section class="hero is-fullheight is-default is-bold">
            <div class="hero-body">
              <div class="container">
                <div class="container has-text-centered">
                  <a href="/"><h1 class="title is-2" style="font-weight: lighter;">Predrag Stošić</h1></a>
                </div>
                <div class="column is-full-desktop">
                  <ul class="post-list">
                    {% for post in site.posts limit:3 %}
                      <li>
                        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                        <span class="post-meta">{{ post.date | date: date_format }}</span>
                        <h2>
                        <a class="blog-title" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                        </h2>
                        {{ post.excerpt }}
                        <p class="show-more"><a href="{{ post.url | relative_url }}"">Show more</a></p>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            
          </section>
        </div>
      </div>
      
    </main>
    {% include footer.html %}
  </body>
</html>